/* Container for the listing page */
:root{
    --vb:rgb(151, 76, 222);
    --bgc:rgb(245, 245, 245);
}

body {
    padding: 2.5rem;
    background-color: var(--bgc);
    font-family: 'arial';
}

.property-listings {
    padding: 2em;
    background-color: white;
    border-radius: 1.25em;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Heading styling */
.property-listings h1 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: lighter;
}

/* Card grid layout */
.featured-prop-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    padding: 1em;
}

/* Property card styling */
.prop-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 1em;
    max-width: 100%;
    border-radius: 1em;
    /* background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
}

.prop-card:hover {
    transform: scale(1.05);
}

.prop-card img {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.prop-card h3, 
.prop-card p {
    margin: 0.3em 0;
    color: darkslategray;
}

.prop-card h5 {
    margin-top: 0.5em;
    align-self: flex-end;
    font-size: 1.1em;
    color: rgb(151, 76, 222);
    font-weight: bold;
}
